body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-image: url(./assets/images/beach-abstract.png);
  background-position: center;
  background-size: cover;
  font-family: josefin sans;
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 10px;
  color: rgb(9, 191, 252);
  font-family: josefin sans;
  font-size: 26px;
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color: #ffffff;
  color: #02b7fe;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
#container {
  width: 770px;
  background: linear-gradient(
    rgba(248, 239, 144, 0.915),
    rgba(9, 191, 252, 0.8)
  );
  border-radius: 15px;
  padding: 5px;
  scale: 0.9;
}
#weekdays {
  width: 100%;
  display: flex;
  color: #02b7fe;
  font-weight: bold;
  text-align: center;
  font-family: josefin sans;
}
#weekdays div {
  width: 100px;
  padding: 10px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#monthDisplay {
  font-size: 40px;
}

.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  box-shadow: 0px 0px 3px #cbd4c2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  font-family: Anton;
  color: #171770;
}
.day:hover {
  background-color: rgba(248, 239, 144, 0.915);
}

.day + #currentDay {
  border: 3px solid #171770;
  background-color: #daf5fb;
  scale: 1.1;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #1883e1;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
  font-family: josefin sans;
}
.padding {
  cursor: default !important;
  background-color: #e3e3e3 !important;
  box-shadow: none !important;
}
#newEventModal,
#deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #d8f9ffd7;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
}

#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton,
#deleteButton {
  background-color: #ce5858;
}
#saveButton,
#closeButton {
  background-color: #02b7fe;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.879);
}

@media screen and (max-width: 747px) {
  body {
    margin-top: 0;
    height: 100vh;
  }

  #container {
    width: 350px;
  }

  .day {
    width: 40px;
    height: 80px;
  }

  #header button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  #newEventModal {
    width: 250px;
    left: calc(50% - 145px);
  }

  #deleteEventModal {
    width: 250px;
    left: calc(50% - 145px);
  }

  .event {
    text-overflow: ellipsis;
    font-size: 10px;
    margin: 2px;
  }

  .day {
    padding: 0;
  }

  #monthDisplay {
    font-size: 30px;
  }
}
